<h1>Add Country</h1>

<form action="/addCountry" method="POST"> 

    <label>Country the code</label>
    <input type="text" name="code"><br>
    <label>Country the name</label>
    <input type="text" name="name"><br>
    <label>Country the details</label>
    <textarea rows="5" cols="65" name="details" max-width="300" ></textarea><br>
    <input type="submit" value="Add">

</form>
